@using Travel_Project.Models.Siniflar
@model List<Blog>
<div class="padding">

	<h4>En Popüler 10 Blog</h4>
	@{int i = 0;}@*//Sayıları sıralamak için for döngüsü yaptık.*@
	@foreach (var x in Model)
	{
		<ul class="list list-pad">

			<li class="list-bg"><span>@{i++; }@i.</span><a href="/Blog/BlogDetay/@x.ID">@x.Baslik</a></li>
		</ul>
	}

	<a href="/Blog/Index" class="link1">Tüm blogları gör.</a>
</div>
