
@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
	<title>TATİL SEYAHAT BLOG </title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
	<script src="~/web/js/jquery.min.js"></script>
	<script src="~/web/js/responsiveslides.min.js"></script>

	<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
	</script>
</head>
<body>
	<div class="header" >
		<div class="wrap">
			
			<div class="con-right">
				<div class="grid1-l-img">
					<img src="~/web/images/contact.png" alt="">
				</div>
				<div class="grid1-l-desc">
					<p>İletişim : +90 535 419 59 53</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="wrap">
			<ul id="nav">
				<li><a href="/Default/Index/">ANASAYFA</a></li>
				<li><a class="hsubs" href="/About/Index/">HAKKIMIZDA</a></li>
	
				<li><a class="hsubs" href="/Blog/Index/">BLOG</a></li>
			
			</ul>
		</div>
	</div>
</body>
@RenderBody();
</html>